header{
    background-color: #aaafa7;
    color:white;
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    
}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "300";
    height: "300";
    padding-top: inherit; 

}
  

img {

    width: 20%;
    height: auto;
    margin-top: 50px;
    border-radius: 50%;
       
}

.about_me {

    font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
    font-size: 12px;
    color: rgb(8, 8, 8);
    margin-bottom: 32px;


}

footer {
    
    background-color: #114580;
    color:white;
    position: fixed;
    font-family: 'Raleway', sans-serif;
    bottom: 0px;
    width: 100%;
}

